.mainBody {
    margin-top: 120px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product {
    justify-content: center;
    border: 5px;
    margin: 2px;
}

.contactUsContainer {
    border: 10px;
}